---
version: "3"

services:

  member-1:
    container_name: member-1
    image: adoptopenjdk/openjdk8:alpine
    volumes:
      - ".:/opt/project"
    command: >
      java -cp /opt/project/hazelcast-server/target/hazelcast-server-1.0-SNAPSHOT.jar
      -Dhazelcast.config=/opt/project/hazelcast-config/hazelcast.xml
      {{ packageName }}.server.Server

  member-2:
    container_name: member-2
    image: adoptopenjdk/openjdk8:alpine
    volumes:
      - ".:/opt/project"
    command: >
      java -cp /opt/project/hazelcast-server/target/hazelcast-server-1.0-SNAPSHOT.jar
      -Dhazelcast.config=/opt/project/hazelcast-config/hazelcast.xml
      {{ packageName }}.server.Server

  client:
    container_name: client
    image: adoptopenjdk/openjdk8:alpine
    volumes:
      - ".:/opt/project"
    depends_on:
      - member-1
      - member-2
    command: >
      java -cp /opt/project/hazelcast-client/target/hazelcast-client-1.0-SNAPSHOT.jar
      -Dhazelcast.client.config=/opt/project/hazelcast-config/hazelcast-client.xml
      {{ packageName }}.client.SimpleClient
      --count=10000
      --rate=10
      --map=test

  hazelcast-mancenter:
    container_name: hazelcast-mancenter
    volumes:
      - ".:/opt/project"
    build:
      context: docker-images/hazelcast-mancenter
    ports:
      - 8080:8080
